/*
   1. CSS [data-aos]
      Comment         = AOS ON
      Uncomment       = AOS OFF
    
   2. AOS.Init()
      Disabled false  = AOS ON
      Disabled true   = AOS OFF
*/
/* [data-aos] {
    opacity: 1 !important;
    transform: none !important;
} */

body, html {
    overflow-x: hidden; /* Disable horizontal scrolling */
    max-width: 100vw; /* Limit width to prevent overflow */
}

#loading-spinner-init {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999;
}

#loading-spinner-init.fade-out {
    opacity: 0;
    transition: opacity 3s ease;
}

#loading-spinner {
    display: inline-block;
}

#main-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

#map {
    width: 100%;
    height: 245px;
    border-radius: 5px;
    margin-top: 25px;
}

#wa-button {
    /* display: none; */
    display: default;
}

.mb-50px {
    margin-bottom: 50px;
}

body {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: #212529;
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

/* .dropdown-menu {
    display: none;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    position: absolute;
}

.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
} */

.nav-link.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}

.flag-en {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    margin-top: -2px;
}

.flag-id {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

/* .lang-en {
    display: none;
}

.lang-id {
    display: none;
} */

.lang-selected {
    color: #212529;
    background-color: #bfc4cb !important;
    cursor: not-allowed;
    /* pointer-events: none; */
}

.lang-selected:hover {
    background-color: #bfc4cb;
}

.lang-selected:active {
    color: #212529;
}

.dropdown-bg-grey {
    background-color: #f0f5fa;
}

.cursor-default {
    cursor: default;
}

.custom-separator {
    width: 90%;
    margin: 20px auto;
}

.hero {
    /* height: 100vh; */
    /* background: url('hero-bg.jpg') no-repeat center center/cover; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 8%;
    /* padding-top: calc(60px + 20vh); */
    position: relative;
}

.hero h1 {
    font-size: 3.5rem;
    color: #343a40;
}

.hero p {
    font-size: 1.5rem;
    color: #343a40;
}

.section {
    padding: 15px 0;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 35px;
    text-align: center;
    color: #343a40;
}

.last-section {
    margin-bottom: 20px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.portfolio-item img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
    border-radius: 5px;
}

footer {
    background-color: #212529;
    color: white;
    height: auto;
    padding: 15px 0px 1px 0px;
    text-align: center;
}

.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .navbar {
    background-color: #1e1e1e;
}

.dark-mode .navbar-nav .nav-link {
    color: #e0e0e0;
}

.dark-mode .navbar-nav .nav-link:hover {
    color: #f5f5f5;
}

/* .dark-mode .hero {
  background: url('hero-bg-dark.jpg') no-repeat center center/cover;
} */

.dark-mode .hero h1,
.dark-mode .hero p,
.dark-mode .section-title {
    color: #e0e0e0;
}

.dark-mode footer {
    background-color: #1e1e1e;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-send-message-custom {
    width: 100%;
    height: 50px;
}

.dark-mode .btn-primary {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-style {
    width: inherit;
}

.sticky-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s;
    text-decoration: none;
}

.sticky-whatsapp:hover {
    background-color: #128C7E;
}

.sticky-whatsapp i {
    font-size: 40px;
}

.toggle-dark-mode {
    background-color: #333;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.toggle-dark-mode:hover {
    background-color: #555;
}

.profile-photo {
    width: 200px;
    height: auto;
    border-radius: 75px;
    margin-bottom: 1%;
    /* object-fit: cover; */
    /* margin-right: 20px; */
    /* position: relative; */
    /* z-index: 10; */
}

.card {
    width: auto;
    height: auto;
    box-sizing: border-box;
    /* border: none; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
    border-bottom: 5px solid #4b4f53;
    height: 150px;
}

.card-body {
    background: #f8f9fa;
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel {
    cursor: default;
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
}

.carousel-item .col-md-4 {
    padding-left: 20px;
    padding-right: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-custom-prev,
.carousel-control-custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #007bff;
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}

.carousel-control-custom-prev:hover,
.carousel-control-custom-next:hover {
    background-color: #007bff;
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    text-decoration: none;
    color: transparent;
    background-color: transparent;
    border: none;
}

.carousel-control-custom-prev {
    left: 10px;
}

.carousel-control-custom-next {
    right: 10px;
}

.fa-spinner {
    font-size: 16px;
}

/* Animations */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.slide-up {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-up.visible {
    transform: translateY(0);
    opacity: 1;
}

.slide-left {
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-left.visible {
    transform: translateX(0);
    opacity: 1;
}

.slide-right {
    transform: translateX(20px);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-right.visible {
    transform: translateX(0);
    opacity: 1;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
    font-size: 1.2em;
}

.contact-info a {
    text-decoration: none;
    color: inherit;
}

.contact-info li:last-child {
    margin-bottom: 0;
}

.recaptcha-warning-hide {
    display: none;
}

.recaptcha-warning-show {
    display: block;
    color: red;
}

/* Media Query for screen 320px */
@media (max-width: 320px) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 1%;
    }

    .sticky-whatsapp {
        bottom: 10px;
        right: 10px;
        width: 55px;
        height: 55px;
    }

    .sticky-whatsapp i {
        font-size: 35px;
    }
}

/* Media Query for screen 375px */
@media (min-width: 321px) and (max-width: 375px) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 1.5%;
    }

    .sticky-whatsapp {
        bottom: 10px;
        right: 10px;
        width: 55px;
        height: 55px;
    }

    .sticky-whatsapp i {
        font-size: 35px;
    }
}

/* Media Query for screen 425px */
@media (min-width: 376px) and (max-width: 425px) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        /* border-radius: 10%; */
        height: 1.7%;
    }

    .sticky-whatsapp {
        bottom: 10px;
        right: 10px;
        width: 55px;
        height: 55px;
    }

    .sticky-whatsapp i {
        font-size: 35px;
    }
}

@media (max-width: 425px) {
    .hero {
        padding-top: calc(10px + 15vh);
    }

    .profile-photo {
        width: 150px;
        height: auto;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    /* .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 1.7%;
    } */
}

/* Media Query for screen between 425px and 768px */
@media (min-width: 425px) and (max-width: 768px) {
    .hero {
        padding-top: calc(40px + 10vh);
        /* margin-bottom: 140px; */
    }

    .profile-photo {
        width: 150px;
        height: auto;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}

/* Media Query for screen 1024px */
@media (min-width: 1024px) {
    .hero {
        padding-top: calc(10px + 15vh);
        margin-bottom: 50px;
    }

    /* .profile-photo {
        width: 150px;
        height: auto;
    } */

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.4rem;
    }

    .dropdown-menu {
        margin-left: auto;
        right: -30px;
    }
}

/* Media Query for screen 1440px */
@media (min-width: 1440px) {
    .hero {
        padding-top: calc(10px + 10vh);
        margin-bottom: 50px;
    }

    /* .profile-photo {
    width: 150px;
    height: auto;
  } */

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.4rem;
    }
}

/* Media Query for screen 2560px */
@media (min-width: 2560px) {
    .hero {
        padding-top: calc(5px + 7vh);
        margin-bottom: 50px;
    }

    /* .profile-photo {
    width: 150px;
    height: auto;
  } */

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.4rem;
    }
}